<div id="tyre-variation-edit-feature">
    <div class="row form-group">
        <div class="col-md-12">
            <router-link to="/add-variation" tag="button" class="btn btn-success add-btn"><i class="fa fa-plus" aria-hidden="true"></i></router-link>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>                
                <router-view/>  
            </form>
        </div>
    </div>

</div>

<script type="module" src="view/javascript/ptv/product_tyre_variations_product_edit/router.vue.js"></script>
<script type="module" src="view/javascript/ptv/product_tyre_variations_product_edit/store.vue.js"></script>
<script type="module" src="view/javascript/ptv/product_tyre_variations_product_edit/app.vue.js"></script>